@import url(''https://fonts.googleapis.com/css?family=Kodchasan:200,300,400&display=swap'');
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Kodchasan', sans-serif;
}

@media (min-width: 320px) {
  body {
    background-color:#ffff99;
  }

  #login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .s-size {
    width: 100%;
  }
  
  .d-block {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    border: none;
    border:solid 1px #ccc;
    border-radius: 13px;
  }

  .btn-width {
    width: 25%;
    padding: 1%
  }

  .btn-login {
    color: white;
    font-weight: bold;
    background-color: #FF2F22;
    cursor: pointer;
  }

  .btn-login:hover {
    color: #FF2F22;
    font-weight: bold;
    background-color: white;
  }

  .input-w {
    width: 50%;
    padding: 1%;
  }

  .social-login {
    width: 30px;
    cursor: pointer;
  }

  .register {
    text-decoration: none;
    color: #FF2F22;
  }

  .feed-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
  }

  .feed-profile {
    display: flex;
    align-items: baseline;
    border: none;
    border:solid 1px #ccc;
    /* margin-right: 10%; */
    border-radius: 3px;
    margin: auto;
  }

  .circular-landscape {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular-landscape img {
    width: auto;
    height: 100%;
    margin-left: -25px;
  }

  .profile-name {
    margin: auto;
    padding: 3px;
  }

  .feed-comment {
    display: flex;
    flex-flow: column nowrap;
    padding: 1%;
    border: none;
    border:solid 1px #ccc;
    border-radius: 3px;
    margin: 7%;
  }

  .input-comment {
    height: 80px;
    padding-left: 2%;
    border-radius: 7px;
    border: none;
    border:solid 1px #ccc;
    box-shadow:
    0 0 0 1px hsl(0, 17%, 94%),
    0 0 0 3px hsl(0, 17%, 94%);
    margin: 3%;
  }

  .btn-share-feed{
    padding: 1%;
    background-color: #878383;
    color: white;
    width: 25%;
    margin-top: 3%;
    align-self: flex-end;
    
  }

@media (min-width: 768px) {
  body {
    background-color: blue;
  }
}

@media (min-width: 1024px){
  body {
    background-color: white;
    height: 100%;
  }

  .row-login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  .column-login {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0 auto;
    height: 100%;
  }
  
  .column-login-login {
    height: 100%;
    padding-top: 25%;
    padding-bottom: 17%;
  }
  
  .column-login-image {
    padding-top: 15%;
  }
  
  .b-size {
    width: 100%;
    margin: 0 auto;
    object-fit: fill
  }

  #login-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  }
/* profile view */
/* body{
  background-image: url("../../images/frutas-blanco.png");
  opacity: 0,1
  
} */
header{
  display: flex;
  justify-content: space-between;
  background: #59C8B8;
  padding: 20px;
}
.div-img{
  width: 15%
}
.img-user{
  border-radius: 50%;
  width: 100%;
}
.info-user{
  background: white;
  border:solid #59C8B8;
  border-radius: 3px;
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
} 
#form-post{
  background-color: #B3EBE6;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 9px;
  border-radius: 5px;
  border:solid 1px #ccc;
}

.input-comment {
  width: 90%;
  height: 80px;
  padding-left: 2px;
  border-radius: 7px;
  border:solid 1px #ccc;
}

.btn-share-feed{
  padding: 1%;
  background-color: #878383;
  color: white;
  width: 25%;
  margin-top: 3%;
  align-self: flex-end;
}
select{
  width: fit-content
}

.feed{
  background: white;
  border: 3px solid #59C8B8;
  margin: 15px;
  width: 50%;
}
.nombre{
  background: #B3EBE6
}

.archivo {
  overflow: hidden;
  }
  #file {
  background-image: url("../../images/picture.svg");
  }
  #post-container{
    display: flex;
    flex-flow:wrap column;
    align-content: center;
  }
