html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Kodchasan, sans-serif;
  }
  
  @media (min-width: 320px) {  
    #login-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .s-size {
      width: 100%;
    }
    
    .d-block {
      display: block;
      margin: 0 auto;
      margin-bottom: 2%;
      border: none;
      border:solid 1px #ccc;
      border-radius: 13px;
    }
  
    .btn-width {
      width: 25%;
      padding: 1%
    }
  
    .btn-login {
      color: white;
      font-weight: bold;
      background-color: #FF2F22;
      cursor: pointer;
    }
  
    .btn-login:hover {
      color: #FF2F22;
      font-weight: bold;
      background-color: white;
    }
  
    .social-btn {
      width: 35px;
      cursor: pointer;
    }
  
    .input-w {
      width: 50%;
      padding: 1%;
    }
  
    .register {
      text-decoration: none;
      color: #FF2F22;
      font-weight: bold;
    }
  
    header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background: #FF2F22;
      padding: 20px;
    }
  
    .feed-container {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 auto;
    }
  
    .circular-landscape {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
    }
    
    .circular-landscape img {
      width: auto;
      height: 100%;
      margin-left: -25px;
    }
  
    .feed-comment {
      display: flex;
      flex-flow: column nowrap;
      padding: 1%;
      border: none;
      border:solid 1px #ccc;
      border-radius: 3px;
      margin: 7%;
    }
  
    .input-comment {
      height: 80px;
      padding-left: 2%;
      border-radius: 7px;
      border: none;
      border:solid 1px #FF2F22;
      margin: 3%;
    }
  
    .btn-share-feed {
      padding: 1%;
      background-color: #878383;
      color: white;
      width: 25%;
      margin-top: 3%;
      align-self: flex-end;   
    }
  
    .logo-img {
      width: 100%;
      width: 200px;
      height:50px;
    }
  
    .logo-container {
      margin-bottom: 20px;
    }
  
    .register-container {
      margin-top: 15px;
    }
  
    .back-register {
      text-decoration: none;
      text-align: center;
      width: 20%;
      font-size: 14px;
    }
  
    .text-header {
      color: white;
      font-weight: bold;
    }
  
    .btn-signout {
      margin-top: 1%;
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;
    }
  
    .user-container {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 50%;
      margin: 20px auto;
  
    }
  
    .info-user {
      display: flex;
      justify-content: flex-start;
      background: white;
      border:solid #FF2F22;
      border-radius: 7px;
      width: 100%;
      align-items: center;
    } 
  
    .div-img{
      width: 20%
    }
    .img-user {
      border-radius: 50%;
      width: 100%;
    }
  
    .font-weight-bold {
      font-weight: bold;
    }
  
    .wall-feed {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        margin: 0 auto;
      }
  
    .form-post{
      width: 100%;
      margin: 0 auto;
      margin-top: 3%;
      /* margin-right: 10%; */
      display: flex;
      flex-direction: column;
      padding: 9px;
      border-radius: 7px;
      border:solid #FF2F22;
    }
  
    /* .x-erase {
        display: flex;
        flex-direction: row-reverse;
    } */
  
    /* .btn-erase {
        cursor: pointer;
    } */
  
    .input-comment {
        width: 90%;
        height: 70px;
        padding-left: 2px;
        border-radius: 7px;
        border:solid 1px #ccc;
      }
  
    .btn-comment {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
  
    .btn-comment-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
  
    .privacy {
      align-self: flex-end;
      background-color: #FF2F22;
      color: white;
      font-weight: bold;
      margin-right: 3%;
      margin-left: 3%;
      padding: 3.2%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  
    .privacy:hover {
        background-color: white;
        color: #FF2F22;
    }
  
    .font-weight-privacy {
        font-weight: bold;
    }
  
  
    .btn-compartir {
        /* margin: 0 auto;
        margin-bottom: 2%; */
        border: none;
        /* border:solid 1px #ccc; */
        border-radius: 13px;
        /* width: 100%; */
        /* padding: 2%; */
    }
  
    .margin-left {
      margin-left: 3%;
    }
  
    select {
      width: fit-content
    }
    
    .nombre{
      background: #B3EBE6
    }
    
    .post-container{
      display: flex;
      flex-flow: column;
    }
  
    .post {
        width: 100%;
        margin: 0 auto;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        padding: 9px;
        border-radius: 10px;
        border:solid #ccc;
    }
  
    .post-user-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 1px #ccc;
        /* padding: 2%; */
        width: 100%;
    }
  
    .post-user-info-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2%;
        width: 100%;
  
    }
  
    .post-user-info-right {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 3%;
    }
  
    .post-user-message {
        border: solid 1px #ccc;
        padding: 2%;
    }
  
    .post-icons {
        display: flex;
        flex-flow: row nowrap;
        border: solid 1px #ccc;
        padding: 2%;
    }
  
    .post-icons-img {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
  
    .post-icons-btn-save {
        display: flex;
        flex-direction: row-reverse;
    }
  
    .comment-icon, .like-icon, .upload-icon, .edit-icon {
        cursor: pointer;
        margin-left: 5%;
    }
  
    .btn-delete {
      cursor: pointer;
      width: 16px;
      height: 16px;
    }
  
    .btn-save {
        /* margin: 0 auto; */
        /* margin-bottom: 2%; */
        border: none;
        /* border:solid 1px #ccc; */
        border-radius: 13px;
        width: 100%;
        /* padding: 5% 20% 5% 20%; */
    }
  
  }